*~
*.swp
.idea/
/.run/
ci/.bootstrap

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
dist/

# Test caches
.coverage
.mypy.cache/
.tox/
*.md.sh

# MacOS
.DS_Store
.AppleDouble
.LSOverride
