# This workflow assigns labels to PRs based on conventional commit titles.

# It looks at the commits in a pull request, mapping their commit types
# (and some scopes) into labels according to the mappings in this workflow file.
#
# You can adjust the specific behavior by modifying this file.
# For more information, see:
# https://github.com/dupuy/action-assign-labels?tab=readme-ov-file#computer-how-to-use-action-assign-labels

name: 'Assign labels to PRs from conventional commit titles'

on:
  pull_request:
    branches: ['main']
    types:
      - opened
      - ready_for_review
      - reopened
      - synchronize

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  assign-labels:
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: write
    steps:
      - name: 'Harden runner'
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443

      - name: 'Assign labels'
        uses: dupuy/action-assign-labels@671a4ca2da0f900464c58b8b5540a1e07133e915 # v1.5.1
        with:
          # Partial fix for #192, workflows in forked repos can't edit labels
          apply-changes: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
          conventional-commits: |
            conventional-commits:
              - type: 'fix'
                nouns: ['fix']
                labels: ['bug']
              - type: 'feature'
                nouns: ['feat']
                labels: ['enhancement']
              - type: 'breaking_change'
                nouns: ['BREAKING CHANGE', 'BREAKING', 'feat!', 'fix!']
                labels: ['major']

              - type: 'build'
                nouns: ['build', 'build(deps)', 'build(dev-deps)', 'chore']
                labels: ['deployment']
              - type: 'integration'
                nouns: ['ci', 'test']
                labels: ['testing']
              - type: 'documentation'
                nouns: ['docs']
                labels: ['documentation']
              - type: 'performance'
                nouns: ['perf']
                labels: ['performance']
              - type: 'refactor'
                nouns: ['refactor']
                labels: ['refactor']
              - type: 'style'
                nouns: ['style']
                labels: ['style']

          github-token: ${{ secrets.GITHUB_TOKEN }}
          maintain-labels-not-matched: true
