# This workflow warns and then closes issues and PRs with no recent activity.
#
# You can adjust the behavior by modifying this file.
# For more information, see:
# https://github.com/actions/stale
name: 'Mark stale issues and pull requests'

on:
  schedule:
    - cron: '23 11 * * 1-5'

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  stale:
    runs-on: ubuntu-24.04
    permissions:
      issues: write
      pull-requests: write

    steps:
      - name: 'Harden runner'
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443

      - name: 'Stale issue/PR check'
        uses: actions/stale@b5d41d4e1d5dceea10e7104786b73624c18a190f # v10.2.0
        with:
          close-issue-label: 'wontfix'
          close-issue-message: 'Closed due to lack of activity'
          close-pr-label: 'wontfix'
          close-pr-message: 'Closed due to lack of activity'
          days-before-close: 14 # stale+close+13 <= artifact retention (90 max)
          days-before-stale: 63
          delete-branch: true # branches can almost always be reopened
          exempt-all-assignees: true
          exempt-all-milestones: true
          exempt-issue-labels: 'bug,enhancement'
          stale-issue-label: 'inactive'
          stale-issue-message: 'This will be closed if there’s no activity soon'
          stale-pr-label: 'inactive'
          stale-pr-message: 'This PR will be closed if there’s no activity soon'
